{% extends "base.html.twig" %}

{% block body %}
    <div class="main">
        <div class="form_header">
            <h1>Louvre Tickets Office</h1>
        </div>
            
        {# =========== STRIPE =========== #}
        <form action="/payment" method="POST">
            <script 
                src="https://checkout.stripe.com/checkout.js" 
                class="stripe-button" 
                data-key="pk_test_zwG6fcavFG9NgdGA3aOaY2oZ" 
                data-amount={{ amount * 100}}
                data-name="Louvre" 
                data-description="2 ticket(s)" 
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
                </script>
        </form>
    
        {# <script src="https://js.stripe.com/v3/"></script>
        
        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- a Stripe Element will be inserted here. -->
                </div>
        
                <!-- Used to display form errors -->
                <div id="card-errors" role="alert"></div>
            </div>
        
            <button>Submit Payment</button>
        </form> #}
        
        {# =========== STRIPE =========== #}

    </div>
{% endblock %}