<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} Louvre Tickets Office {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://use.fontawesome.com/2c5a94bf03.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
    {% endblock %}
</head>

<body>
    <div class="container">

        {% block body %} {% endblock %} 
        {% block javascripts %} {% endblock %}

    </div>
</body>

</html>